<div class="actions col-md-8 col-md-offset-2">
  <div class="product">
    <h2><%= link_to item.name, admin_product_path(item) %></h2>
    <ul>
      <li><%= item.description %></li>
      <li><%= item.price %></li>  
    </ul>
    
    <div class="col-md-3">
      <%= link_to "Edit", edit_admin_product_path(item), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-3">
      <%= link_to "Delete", admin_product_path(item), method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>    
</div>