<div class="actions col-md-8 col-md-offset-2">
  <div class="product">
    <h2>Name: <%= link_to item.name, admin_product_path(item) %></h2>
    <ul>
      <li>description: <%= item.description %></li>
      <li>price: <%= item.price %></li>  
      <li>currency: <%= item.currency %></li>
      <li>start time: <%= item.start_time %></li>
      <li>start time zone: <%= item.start_zone %></li>
      <li>end time:<%= item.end_time %></li>
      <li>end time zone: <%= item.end_zone %></li>
    </ul>
    
    <div class="col-md-3">
      <%= link_to "Edit", edit_admin_product_path(item), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-3">
      <%= link_to "Delete", admin_product_path(item), method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>    
</div>