<!DOCTYPE html>
<html>
  <head>
    <title>EventMachine</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'navbar' %>
    <div id='main' class='container'>
      <% flash.each do |name, value| %>
        <div class="alert alert-<%= name %>">
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
